[Unit]
Description=Intersystem IRIS Service
After=network.target
[Service]
Type=forking
WorkingDirectory=/usr/irissys
User=root
ExecStart=/usr/irissys/bin/iris start IRIS
ExecStop=/usr/irissys/bin/iris stop IRIS quietly
Restart=on-abort
[Install]
WantedBy=default.target